In [1]:
import pandas as pd

In [2]:
#key data structure
#series
#dataframe

In [3]:
pd.Series([1,2,3,4], index=['a','b','c','d'])

a    1
b    2
c    3
d    4
dtype: int64

In [4]:
df=pd .DataFrame({'a': [1,2,3],'b': [4,5,6]})

In [5]:
df=pd.read_csv('d:\ECHO BRAINS\LoanApprovalPrediction_500rows.csv')

In [6]:
df.head(5)

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP100000,Male,Yes,1,Graduate,Yes,2026,2804.5,230.0,240,0.0,Semiurban,Y
1,LP100001,Female,Yes,2,Not Graduate,No,4724,6480.1,689.3,180,0.0,Rural,Y
2,LP100002,Male,Yes,0,Not Graduate,No,16569,10560.9,141.5,300,1.0,Semiurban,Y
3,LP100003,Male,No,0,Graduate,No,13036,7810.5,181.3,360,1.0,Semiurban,Y
4,LP100004,Male,Yes,0,Graduate,No,15047,6395.5,169.7,240,1.0,Urban,Y

In [7]:
df.tail(5)

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
495,LP100495,Male,Yes,0,Graduate,No,8204,8350.8,256.4,300,1.0,Urban,Y
496,LP100496,Male,Yes,3,Not Graduate,No,5213,9519.1,50.1,300,0.0,Rural,N
497,LP100497,Female,No,3,Graduate,No,6551,3801.1,382.2,180,0.0,Semiurban,Y
498,LP100498,Male,No,2,Graduate,Yes,12256,10286.2,80.5,180,1.0,Rural,N
499,LP100499,Female,Yes,2,Graduate,No,3975,10873.7,229.5,180,1.0,Rural,Y

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            500 non-null    object
 1   Gender             500 non-null    object
 2   Married            500 non-null    object
 3   Dependents         500 non-null    int64
 4   Education          500 non-null    object
 5   Self_Employed      500 non-null    object
 6   ApplicantIncome    500 non-null    int64
 7   CoapplicantIncome  500 non-null    float64
 8   LoanAmount         500 non-null    float64
 9   Loan_Amount_Term   500 non-null    int64
 10  Credit_History     500 non-null    float64
 11  Property_Area      500 non-null    object
 12  Loan_Status        500 non-null    object
dtypes: float64(3), int64(3), object(7)
memory usage: 50.9+ KB

In [9]:
df.describe() #used for numerical columns

,Dependents,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History
count,500.000000,500.000000,500.000000,500.000000,500.000000,500.000000
mean,1.386000,12813.130000,6041.513800,373.807400,268.560000,0.810000
std,1.089669,6779.827956,3468.405405,186.534476,69.249675,0.392694
min,0.000000,1511.000000,38.600000,50.100000,180.000000,0.000000
25%,0.000000,7172.250000,3007.350000,229.425000,180.000000,1.000000
50%,1.000000,12950.500000,6169.100000,374.150000,240.000000,1.000000
75%,2.000000,18227.000000,9115.475000,531.750000,360.000000,1.000000
max,3.000000,24999.000000,11980.200000,698.600000,360.000000,1.000000

In [19]:


df.iloc[0:3] #select a row by index

,Loan_ID,Sex,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP100000,Male,Yes,1,Graduate,Yes,2026,2804.5,230.0,240,0.0,Semiurban,Y
1,LP100001,Female,Yes,2,Not Graduate,No,4724,6480.1,689.3,180,0.0,Rural,Y
2,LP100002,Male,Yes,0,Not Graduate,No,16569,10560.9,141.5,300,1.0,Semiurban,Y

In [10]:
#data selection: 
df['Loan_Status'] #select a single column
df[['Loan_Status','LoanAmount']] #select multiple columns
df.loc[0] #select a row by index
df.iloc[0] #select a row by position

Loan_ID               LP100000
Gender                    Male
Married                    Yes
Dependents                   1
Education             Graduate
Self_Employed              Yes
ApplicantIncome           2026
CoapplicantIncome       2804.5
LoanAmount               230.0
Loan_Amount_Term           240
Credit_History             0.0
Property_Area        Semiurban
Loan_Status                  Y
Name: 0, dtype: object

In [11]:
df.loc[400] #select a row by index

Loan_ID                  LP100400
Gender                     Female
Married                       Yes
Dependents                      2
Education            Not Graduate
Self_Employed                 Yes
ApplicantIncome              2786
CoapplicantIncome           784.4
LoanAmount                  600.5
Loan_Amount_Term              360
Credit_History                1.0
Property_Area               Urban
Loan_Status                     N
Name: 400, dtype: object

In [12]:
df.isna().sum()

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
dtype: int64

In [13]:
df.rename(columns={"Gender":"Sex"}, inplace='True')

In [14]:
df

,Loan_ID,Sex,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP100000,Male,Yes,1,Graduate,Yes,2026,2804.5,230.0,240,0.0,Semiurban,Y
1,LP100001,Female,Yes,2,Not Graduate,No,4724,6480.1,689.3,180,0.0,Rural,Y
2,LP100002,Male,Yes,0,Not Graduate,No,16569,10560.9,141.5,300,1.0,Semiurban,Y
3,LP100003,Male,No,0,Graduate,No,13036,7810.5,181.3,360,1.0,Semiurban,Y
4,LP100004,Male,Yes,0,Graduate,No,15047,6395.5,169.7,240,1.0,Urban,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,LP100495,Male,Yes,0,Graduate,No,8204,8350.8,256.4,300,1.0,Urban,Y
496,LP100496,Male,Yes,3,Not Graduate,No,5213,9519.1,50.1,300,0.0,Rural,N
497,LP100497,Female,No,3,Graduate,No,6551,3801.1,382.2,180,0.0,Semiurban,Y
498,LP100498,Male,No,2,Graduate,Yes,12256,10286.2,80.5,180,1.0,Rural,N
499,LP100499,Female,Yes,2,Graduate,No,3975,10873.7,229.5,180,1.0,Rural,Y

In [15]:
df.to_csv(r'd:\Projects\fasf.csv', index=False)

In [16]:
df.isna().sum()

Loan_ID              0
Sex                  0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
dtype: int64