## Assignment

In [1]:
a=5
b=3
print(a&b)
print(~2)
print(2>>3)
print(2<<3)

1
-3
0
16

In [2]:
a = int(input("Enter a value: "))
b = int(input("Enter b value: "))

print("\nArithmetic Operation")
print("a + b =", a + b)
print("a - b =", a - b)
print("a * b =", a * b)   
if(b != 0):
    print("a / b =", a / b)
    print("a % b =", a % b)
    print("a // b =", a // b)
else:
    print("Division by zero not allowed")
    print("Modulo by zero not allowed")
    print(" Floor division by zero not allowed")  


print("\nAssignment Operations")
print(f"a = {a}\tb = {b}")
print("a will be assigned to x")
x = a
print("x=a is:", x)

x += b
print("x+=b is:", x)

x -= b
print("x-=b is:", x)

x *= b
print("x*=b is:", x)

if b != 0:
    x /= b  
else:
    x /= 1
print("x/=b is:", x)  

if b != 0:
    x %= b  
else:
    x %= 1
print("x%=b is:", x)

x **= 2
print("x**=2 is:", x) 
      
if b != 0:
    x //= b
else:
    x //= 1 
print("x//=b is:", x)


print("\nBitwise Operations")
print(f"{a} & {b} =", a & b)
print(f"{a} | {b} =", a | b)
print(f"{a} ^ {b} =", a ^ b)    
print(f"~{a} =", ~a)
print(f"{a} << 2 =", a << 2)
print(f"{a} >> 2 =", a >> 2)


print("\nComparison Operations")
print(f"{a} == {b} ", a == b)
print(f"{a} != {b} ", a != b)
print(f"{a} > {b} ", a > b)
print(f"{a} < {b} ", a < b) 
print(f"{a} >= {b} ", a >= b)
print(f"{a} <= {b} ", a <= b)

Arithmetic Operation
a + b = 6
a - b = 2
a * b = 8
a / b = 2.0
a % b = 0
a // b = 2

Assignment Operations
a = 4	b = 2
a will be assigned to x
x=a is: 4
x+=b is: 6
x-=b is: 4
x*=b is: 8
x/=b is: 4.0
x%=b is: 0.0
x**=2 is: 0.0
x//=b is: 0.0

Bitwise Operations
4 & 2 = 0
4 | 2 = 6
4 ^ 2 = 6
~4 = -5
4 << 2 = 16
4 >> 2 = 1

Comparison Operations
4 == 2  False
4 != 2  True
4 > 2  True
4 < 2  False
4 >= 2  True
4 <= 2  False

In [ ]:
name=input("Enter the name: ")
age=int(input("enter the age: "))
address=input("Enter the address: ")
print("My name is :",name)
print("My age is: ",age)     
print("My address is: ",address)

My name is : ammi
My age is  4
My address is:  sulkkerimogru

In [ ]:
a=int(input("enter the value for a:"))
b=int(input("enter the value for b:"))
c=int(input("enter the value for c:"))

mul=a*b*c  
add=a+b+c
div=mul/add
print("The division of multiplication and addition is:",div)

The division of multiplication and addition is: 2.6666666666666665

In [ ]:
name=input("Enter the name: ")
score=int(input("enter the score: "))
department=input("enter the department: ")
scr=score/10

print("My name is :",name)
print("My score is: ",scr,"/10")
print("mydepartment is :",department)

My name is : ammi
My score is:  8.0 /10
mydepartment is : csc

#escape character

In [ ]:
print('it\'s shreyas')  #\
print("hello\nworld")   #\n
print("shreyas\rsuresh111") #\r
print("name\tage\tclass")  #\t
print("hell\bworld")   #\b
print("name\fage\fclass")  #\f
print("name\vage\vclass")  #\v

it's shreyas
hello
world
shreyassuresh111
name	age	class
helworld
nameageclass
nameageclass

##flow control

In [ ]:
#conditional statements(if-elif-else)

x=int(input("Enter a number: "))
if x==0:
    print("x is zero")
elif x>0:
    print("x is positive") 
else:
    print("x is negative")

x is zero

In [ ]:
age=int(input("Enter your age: "))
if age>=18:
    print("you are eligible for vote")
else:
    print("you are not eligible for vote")

you are not eligible for vote

In [ ]:
num=int(input("Enter a number: "))
res="even" if num%2==0 else "odd"
print(f"{num} is ",res)

86 is  even

In [ ]:
price=int(input("Enter the price of the product: "))
if price>=1000:
    discount=price*0.1
    print("discount is:",discount)
    final_price=price-discount
    print("final price is:",final_price)
else:    
    print("no discount")
    print("final price is:",price)

discount is: 100.0
final price is: 900.0

In [ ]:
a=int(input("Enter a number: "))
b=int(input("Enter b number: "))
c=int(input("Enter c number: "))
print("entered numbers: ",a,b,c)
if a>b and a>c:
    print(f"{a} is larger")
elif b>c and b>a:
    print(f"{b} is larger")
else:
    print(f"{c} is larger")

##looping statement

In [ ]:
for x in range(11):
    if x%2==0:
        print(f"{x} is even no.")
    else:
         print(f"{x} is odd no.")

0 is even no.
1 is odd no.
2 is even no.
3 is odd no.
4 is even no.
5 is odd no.
6 is even no.
7 is odd no.
8 is even no.
9 is odd no.
10 is even no.

##nested for

In [ ]:

for x in range(5):
    print(x)
    for y in range(5):
        print(y)

In [ ]:
for x in range(0,11):
    if x%2==0:
        print(x)

0
2
4
6
8
10

In [ ]:
for i in range(11):
    if i%2!=0 and i%2==0:
        print(i)

##transfer statement

In [ ]:
for i in range(1,6):
    if i==3:
        break
    print(i)

In [ ]:
for i in range(1,11):
    if i==5:
        continue
    print(i)

In [ ]:
for i in range(1,11):
    if i==5:
        pass
    print(i)

In [ ]:
for i in range(1):
    for j in range(2):
        print("i'm i:",i,"i'm j:",j)

i'm i: 0 i'm j: 0
i'm i: 0 i'm j: 1

In [ ]:
for i in range(5):
    print(i,end=" ")

0 1 2 3 4

In [ ]:
for i in range(5):
    for j in range(i):
        print("*",end="")
    print()

*
**
***
****

In [ ]:
# Print right angle triangle pattern
row = int(input("Enter the number of rows: "))
for i in range(1, row+1):
    print("*" * i)

*
**
***
****
*****

In [ ]:
n=5
for i in range(1,n+1):
    if i==1 or i==n:
        print(" " * (n-i) + "*" * (2*i-1))
    else:
        print(" " * (n-i) + "*" + " " * (2*i-3) + "*")

    *
   * *
  *   *
 *     *
*********

In [ ]:
#creating square pattern
n=int(input("Enter the size of square: "))
for i in range(n):
    for j in range(n):
        if (i==0 or i==n-1):
            print("*" ,end=" ")
        elif j==0 or j==n-1:
            print("*", end=" ")
        else:
            print(" ",end=" ")    
    print()

* * * * *
*       *
*       *
*       *
* * * * *

In [ ]:

n=7
for i in range(1,n+1):
    print(" "*(n-i)+"*"*i)

      *
     **
    ***
   ****
  *****
 ******
*******

In [ ]:

for i in range(1,5):
    for j in range(1,5 ):
        
        print((i,j) , end=" ")
    print()

(1, 1) (1, 2) (1, 3) (1, 4)
(2, 1) (2, 2) (2, 3) (2, 4)
(3, 1) (3, 2) (3, 3) (3, 4)
(4, 1) (4, 2) (4, 3) (4, 4)

In [ ]:
num=5
while num>=0:
    print(num)
    num-=1

5
4
3
2
1
0

In [ ]:
num=0
while num<=10:
    print(num)
    num+=2

0
2
4
6
8
10

In [ ]:
num=0
while num<=10:
    if num%2==0:
        print(num)    
    num+=1

0

In [ ]:
answer=""
while answer!="one piece":
    answer=input("which is the best anime: ")
print("correct")

correct

In [ ]:
secret_no=9
guess=0
while guess!=secret_no:
    guess=int(input("enter a guess b/w 1-10"))
print("your guess is correct")

your guess is correct

In [ ]:
try:
    n=int(input("enter the number: "))
    print(f"multiplication table of {n} : ")
    i=1
    while(i<=10):
        k=n*i
        print(f"{n} * {i} = {k}")
        i+=1
            
except(ValueError):
     print("invalid input ")

multiplication table of 8 :
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
8 * 10 = 80

In [ ]:
n=5
for i in range(1,n):
    for j in range(1,n):
        if (i==1 or i==n-1) or (j==1 or j==n-1):
           print("*" , end=" ")
        else:      
           print("3",end=" ")
    print()

* * * *
* 3 3 *
* 3 3 *
* * * *

In [ ]:
for i in range(1,5):
    for j in range(1,5):
        if(i==j):
            print((1,1), end=" ")
        else:    
            print((i,j) , end=" ")
    print()

(1, 1) (1, 2) (1, 3) (1, 4)
(2, 1) (1, 1) (2, 3) (2, 4)
(3, 1) (3, 2) (1, 1) (3, 4)
(4, 1) (4, 2) (4, 3) (1, 1)

In [ ]:
for i in range(1,10):
    print("*" * i )
print()

*
**
***
****
*****
******
*******
********
*********

In [ ]:
#assignment butterfly pattern

In [ ]:
correct_pin=3558
attempt=0


while attempt<3:
     pin=int(input("enter the pin: "))
     if(pin==correct_pin):
         print("access granted")
         break
     else:
         print(f"incorrect {attempt} is left")
         attempt+=1
if attempt==3:
    print("access blocked")

incorrect 0 is left
incorrect 1 is left
incorrect 2 is left
access blocked

In [ ]:
menu=[" ","idli","chapathi","neerdosa","parota","palaav"]
price=[0,20,35,20,40,35]
order=" "
d={}

k=True    
while(k):
    order=int(input("enter the order: \n 1.idli \n 2.chapathi \n 3.neerdosa \n 4.parota \n 5.palav  \n 6.cofirm" ))
    if order==6:
        break
        
    else:
        order_price= price[order]       
        d.update({menu[order]:price[order]})
        
print(d)
total_price=sum(d.values())                  
print(total_price)

{'idli': 20}
20

In [ ]:
#butterfly pattern
n=6
for i in range(1,n+1):
    print("*"*i + " "*(2*(n-i)) + i*"*" )
    
for i in range(n,0,-1):
    print("*"*i + " "*(2*(n-i)) + i*"*" )

*          *
**        **
***      ***
****    ****
*****  *****
************
************
*****  *****
****    ****
***      ***
**        **
*          *

In [ ]:
#pascal triangle
# Pascal's Triangle
n = 6
for i in range(n):
    print(" " * (n - i), end="")  # print leading spaces for alignment
    num = 1
    for j in range(i + 1):
        print(num, end=" ")
        num = num * (i - j) // (j + 1)
    print()

      1
     1 1
    1 2 1
   1 3 3 1
  1 4 6 4 1
 1 5 10 10 5 1

In [ ]:
#string slicing

s="ShreyasPoojaryKotnottu"
print(s[ ::-1])  #reversing
print(s[-1:-9:-1])
print(s[::])
print(s[0:7:2])

uttontoKyrajooPsayerhS
uttontoK
ShreyasPoojaryKotnottu
Srys

In [2]:
#string in bulid method

s="string"
print(s.upper())
print(s.lower())
print(s.count("s"))   #S and s is diff.
print(len(s))
print()

STRING
string
1
6

In [ ]:

k="HelloWorlD"
print(k[2:9])
print( k[-2:-9:-1])   
print(k[-2:-9:-2])

lloWorl
lroWoll
lool

In [ ]:
#creating empty list (inbuit and creating)

list=list()          
print(type(list))

l=[]
print(type(l))

<class 'list'>

In [ ]:
#accessing list using indexing

l=[1,"kotnottu",6.7,True]
print(l[::-1])

k=[1,"kotnottu",[1.3,2],6.7,True]   #nested list
print(k[2][0])
k[2][0]=5.8   
print(k)
print(k[2][0])

k.insert([3][0],5.8)
print(k)

print(k[1][2]) #print 1 char in kotnottu string

[True, 6.7, 'kotnottu', 1]
1.3
[1, 'kotnottu', [5.8, 2], 6.7, True]
5.8
[1, 'kotnottu', [5.8, 2], 5.8, 6.7, True]
t

In [ ]:
original_list=[1,2,3.4]
print(original_list.index(2))

copy_list=original_list.copy()
print(original_list == copy_list)
print(original_list is copy_list)
copy_list.remove(3.4)
copy_list.append(5)  #it adds value to last
print(copy_list)

1
True
False
[1, 2, 5]

In [ ]:
list=[3,5,77,6,99,7,22]
print("list: ",list)
print(n)
for i in range(n):
    for j in range(i+1,n):
        if(list[i] > list[j]):
            k = list[i]
            list[i] = list[j]
            list[j] = k
print("list in order: ",list)  
print("highest value is:",list[-1])
print("lowest value is: ",list[0])

list:  [3, 5, 77, 6, 99, 7, 22]
7
list in order:  [3, 5, 6, 7, 22, 77, 99]
highest value is: 99
lowest value is:  3

In [ ]:
str="   shreyas poojary   "
print(str.title())
print(str.capitalize())
print(str.strip())  #lstrip , rstrip
print(str.replace("s","s"))

   Shreyas Poojary
   shreyas poojary
shreyas poojary
   shreyas poojary

In [ ]:
lst=[1,2,3,[7,8,9,[1,66],53,44],1,89,22]
print(lst.index(1))
print(lst.count(1))

0
2

In [6]:
# lst=[1,3,5,2,6,4,78]
# lst.sort()
# print(lst)

# lst.sort(reverse=True)
# print(lst)

d={1:1,2:2,6:6,4:4}
print(sorted((d)))

[1, 2, 4, 6]

In [ ]:
x=[2.5,2,3,5]
for i in range(5-len(x)):
    x.append(6)   #append(add combined) and extend(adds differently or itrrably)
    print(x)

[2.5, 2, 3, 5, 6]

In [ ]:
x=[]
for i in range(5):
    x.append("*")
    # x.extend("hello")
    print(x)

['*']
['*', '*']
['*', '*', '*']
['*', '*', '*', '*']
['*', '*', '*', '*', '*']

In [ ]:
for i in range(1,5):
    print(" "*(4-i) + "* "*i)
for j in range(3,0,-1):
    print(" "*(3-j) + " *"*j)

   *
  * *
 * * *
* * * *
 * * *
  * *
   *

In [ ]:
def is_leap_year(year):
   if year % 400 == 0:
       return True
   elif year % 100 == 0:
       return False
   elif year % 4 == 0:
       return True
   else:
       return False
# Example usage
year = 1990
print(f"{year} is a leap year: {is_leap_year(year)}")

1990 is a leap year: False

In [ ]:
person=("arun",25,True)
p=list(person)
print(type(p))
p[1]=26
p=tuple(p)
print(p)

<class 'list'>
('arun', 26, True)

In [ ]:
l=[678.345]
l=str(l)
l=l[-2:0:-1]
l=list(l)
print(l)

['5', '4', '3', '.', '8', '7', '6']

In [ ]:

t_person=("Arun",25,True,2,1,11,23,(56,77),"good")
l_person=list(t_person)
l_person[7]=list(l_person[7])

l_person[7][0]=66

l_person[7]=tuple(l_person[7])
t_person=tuple(l_person)
print(t_person)
  
 
# person=("Arun",25,True,2,1,11,23,(56,77),"good")
# inn_person=list(person[7])
# inn_person[0]=66

# person=(person[:7] + (tuple(inn_person),) + person[8:])
# print(person)

('Arun', 25, True, 2, 1, 11, 23, (66, 77), 'good')

In [ ]:
tuple1=(1,2,3,4,5,6)
# o/p=(1.0,2.0,3.0.4.0,5.0,6.0)

tup=[]
for i in tuple1:
    tup.append(float(i))
print(tup)

[1.0, 2.0, 3.0, 4.0, 5.0, 6.0]

In [ ]:
tuple1=(1,2,3,4,5,6)
# o/p=(1.0,2.0,3,4.0,5,6)

tup=[]
for i in tuple1:
    if i!= 3 and i!=5 and i!=6:
        tup.append(float(i))
    else:
        tup.append(i)    
print(tup)

[1.0, 2.0, 3, 4.0, 5, 6]

In [5]:
# seti={""}
# set1=set()
# print(type(set1))
# print(type(seti))

my_set={1,2,3}
my_set.add(4) #for multiple value use update
print(my_set)
my_set.update([4,5,6]) #repeatted value not allowed
print(my_set)
print(my_set.pop())
my_set.clear()
print(my_set)

{1, 2, 3, 4}
{1, 2, 3, 4, 5, 6}
1
set()

In [ ]:
dic={}
print(type(dic))

dictionary=dict()
print(type(dictionary))

<class 'dict'>
<class 'dict'>

In [ ]:
# dictionary={key1:value,key2:value}

my_det={1:'shreyas', 2:220319 , 3:'data science'}
print(my_det)

my_det={1:'shreyas', 1:220319 , 3:'data science'}  #duplicate key
print(my_det)

my_det={1:'shreyas', 2:220319 , 3:'shreyas'}    #duplicate value
print(my_det)

{1: 'shreyas', 2: 220319, 3: 'data science'}
{1: 220319, 3: 'data science'}
{1: 'shreyas', 2: 220319, 3: 'shreyas'}

In [ ]:
student={"name":"shreyas" , "age":21 , "marks":[88,99,77]}
print(student["marks"][0])

copy_student=student.copy()     #copy of dict
print(copy_student)

88
{'name': 'shreyas', 'age': 21, 'marks': [88, 99, 77]}

In [ ]:
# fromkeys(iterablle,values) - creates a dictionary
# with specified keys and a common value

a=['a','b','c']
d=dict.fromkeys(a,2)
print(d)


student={"name":"shreyas" , "age":21 , "marks":[88,99,77]}
print(student.get("name"))
print(student.get("city", "not found"))
print(student.items())
print(student.keys())
print(student.values())
print(student.pop("age"))   #popitem() - remove last item
print(student)
student.update({"city":"new york" , "age":21 , "marks":[83, 99,98]})
print(student)

{'a': 2, 'b': 2, 'c': 2}
shreyas
not found
dict_items([('name', 'shreyas'), ('age', 21), ('marks', [88, 99, 77])])
dict_keys(['name', 'age', 'marks'])
dict_values(['shreyas', 21, [88, 99, 77]])
21
{'name': 'shreyas', 'marks': [88, 99, 77]}
{'name': 'shreyas', 'marks': [83, 99, 98], 'city': 'new york', 'age': 21}

In [ ]:
d1={'a': 2, 'b': 2, 'c': 2}
d2={'c': 2, 'd': 2, 'e': 2}
merge_d= {**d1,**d2}
print(merge_d)

{'a': 2, 'b': 2, 'c': 2, 'd': 2, 'e': 2}

In [ ]:
num=int(input())
x=[]
for i in range(num):
    s=int(input())
    x.append(s)

y=[]
for i in x:
    z=i*i
    y.append(z)
print(y)

[1, 4, 9]

In [ ]:
#list comprehension
x=[1,2,3,4,5]
square=[x*x for x in x]
print(square)

[1, 4, 9, 16, 25]

In [ ]:
#list comprehension
even=[ x for x in range(11) if x%2==0]
odd=[x for x in range(11) if x%2!=0]
print(odd)
print(even)

[1, 3, 5, 7, 9]
[0, 2, 4, 6, 8, 10]

In [ ]:
num=[1,2,3,4,5,6,7,9,10]
rem=[2,4,6,8,10]
filter=[i for i in num if i not in rem]
print(filter)

[1, 3, 5, 7, 9]

In [ ]:
#mail id access using list comprehension
mail_ids=["csp@yahoo.com","ksp@outlook.com","osp@gmail.com"]
usernames=[mail.split("@")[0] for mail in mail_ids]
print(usernames)

['csp', 'ksp', 'osp']

In [ ]:
#mail id access using list comprehension
mail_ids=["csp@yahoo.com","ksp@outlook.com","osp@gmail.com","cxx@yahoo.com","psp@outlook.com","olp@gmail.com"]
usernames=[i for i in mail_ids if "@outlook.com" in i]
print(usernames)

['ksp@outlook.com', 'psp@outlook.com']

#functions

In [ ]:
# def add():
#     return 3+4

# add()

def add(a=1,b=1):
    '''adding 2 num'''
    print( a+b)
    

add(3,4)
print(add.__doc__)

7
adding 2 num

In [6]:
def add(a=1,b=1):
    '''adding 2 numbers'''
    print(a+b)
    
add(3,4)
add(5,5)

7
10

In [ ]:
list=[1,2,3,4,5,6]
(a,b,c,d,e,f)=list
print(a)
print(b)
print(c)
print(d)
print(e)
print(f)

1
2
3
4
5
6

In [ ]:
def rem_dup():
    str="assdf"
    original="".join(dict.fromkeys(str))
    print(original)
rem_dup()

asdf

In [ ]:
def fun(*arg):
    return arg[0]-arg[1]
print(fun(1,2,3))

-1

In [ ]:
#factorial       
def fact():    
    k=1
    for i in range(n,0,-1):
        k=k*i 
    print(k)      
 
n=int(input())    
fact()

720

In [ ]:
n=int(input())
for i in range(n+1):
    key=input()
    for j in range(n+1):
        value=input()
print(key:value)

In [8]:
#fibpnacci series
def fib(n):
    a=0
    b=1
    if n<=0:
        print("invalid")
    elif n==1:
        print(a)
    else:
        print(a)
        print(b)
        for i in range(2,n):
            c=a+b
            a=b
            b=c
            print(c)
n=int(input())
fib(n)

0
1

In [ ]:
def fun(*n):
    for item in n:
        su=sum(n)
        print(su)
fun(1,2,3,4,5)

15
15
15
15
15

In [ ]:
def add(*num):
    sum=0
    for i in num:
        sum=sum+i
        print(sum)
add(1,2,3,4)

1
3
6
10

In [ ]:
#lambda fn
sub=lambda a,b:a-b
add=lambda a,b:a+b
mul=lambda a,b:a*b
div=lambda a,b:a/b
expo=lambda a,b:a**b
floor=lambda a,b:a//b
print(sub(3,7))
print(add(3,7))
print(mul(3,7))
print(div(3,7))
print(expo(3,7))
print(floor(3,7))

-4
10
21
0.42857142857142855
2187
0

In [45]:
#lambda map()
num=[1,2,3,4,5]
sqr=list(map(lambda x:x**2,num))
print(sqr)

[1, 4, 9, 16, 25]

In [10]:
#lambda filter()
num=[1,2,3,4,5,6]
sqr=list(filter(lambda x:x%2==0,num))
print(sqr)

[2, 4, 6]

In [ ]:
#sortednlambda

In [60]:
#pass/call by value

def change_num(num):
    num=222
    print("inside fn:",num)
    
num=20   #original
change_num(num)
print("outside_num:",num)   #still 5 not changed

inside fn: 222
outside_num: 20

In [1]:
#pass/call by reference

def change_num(x):
    x.append(4)
    print("inside fn:",x)
    
num=[1,2,3]  
change_num(num)
print("outside_num:",num)

inside fn: [1, 2, 3, 4]
outside_num: [1, 2, 3, 4]

In [3]:
#recursion -fn calling itself on execution
def fact(n):
    if n==0 or n==1:
        return 1
    else:
        return n*fact(n-1)
    
fact(5)

120

In [1]:
def cnt(n):
    if n==0:
       print("finish")
    else:
        print(n)
        cnt(n-1)
        
cnt(10)

10
9
8
7
6
5
4
3
2
1
finish

In [3]:
#empty class
class class_name():
    pass                 #method or statement
variable=class_name()    #creating object

In [4]:

#single inheritance
class A():
    def fun(self):
        print("hello")
      
class B(A):
    def fun2(self):
        print("pradeep") 
        
object=B()
object.fun()
object.fun2()
print()

hello
pradeep

In [5]:

#multilevel inheritance
class x():
    def fun(self):
        print("hii")
class y(x):
    def fun1(self):
        print("hello")
        
class z(y):
    def fun2(self):
        print("namaskara")   
        
object=z()
object.fun()
object.fun1()
object.fun2()
print()

hii
hello
namaskara

In [7]:

#multiple inheritance

class x():
    def fun(self):
        print("hii")
class y():
    def fun1(self):
        print("hello")
        
class z(x,y):
    def fun2(self):
        print("namaskara")   
        
object=z()
object.fun()
object.fun1()
object.fun2()
print()

hii
hello
namaskara

In [11]:
#hierarchial inheritance

class a():
    def fun(self):
        print("money")
        
class x(a):
    def fun1(self):
        pass
                
class y(a):
    def fun1(self):
        pass
        
class z(a):
    def fun2(self):
        pass   
        
x1=x()
y1=y()
x1.fun()
y1.fun()

money
money

In [ ]:
#hybrid inheritance
class a():
    def fun(self):
        print("papas money")
        
class b():
    def fun1(self):
        print("my money")
                
class x(a,b):
    def fun2(self):
        pass
        
class y(a):
    def fun3(self):    #method
        pass   
        
x1=x()  #object
x1.fun()
x1.fun1()
y1=y()
y1.fun()

papas money
my money
papas money

In [ ]:
#constructor
class a():
    def __init__(self):   #constructor
        print("hello")
    def fun(self):
        print("hi")
        
obj=a()

hello